header{
  min-height: 300px;
  background: purple;
  color:white;
}

main{
  background: rgb(246, 250, 187);
  /* 100VH = 100% של החלון */
  min-height: 100vh;
}

main .grid_gallery{
  display: grid;
  grid-template-columns: repeat(6 , 1fr);
  
  gap: 1em;
}


 main .grid_gallery img{
  /* display: block; */
  width:100%;
 
} 

main .grid_gallery > div{
  height: 200px;
  background-size: cover;
  background-position: center;
  border:4px solid white;
}


@media screen and (max-width:992px){
  main .grid_gallery{
    grid-template-columns: repeat(3 , 1fr);
  }
}

@media screen and (max-width:768px){
  main .grid_gallery{
    grid-template-columns: repeat(2 , 1fr);
  }
}


/* 10:50 להיות כאן */