header{
  min-height: 400px;
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;
  text-align: center;
}

header h1{
  color: #FFFFFF;
/* background: #FFFFFF; */
text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

nav a{
  color:white;
  text-decoration: none;
  padding:0 12px;
}
