.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container{
  max-width:1000px;
}

header{
  min-height: 75px;
  background: white;
}

header nav a{
  color:#444;
  padding:0 12px;
  font-size: 1.1em;
}

header nav a:hover{
  color:orange;
  text-decoration: none;
 
}

.strip{
  min-height: 300px;
  background: #777;
}

.strip p{
  max-width:500px;
  margin:16px auto;
}

.strip button{
  /* padding:8px 48px; */
  border-radius: 30px;
}

main{
  min-height: 100px;
  background: white;
}

main .box{
  margin:16px 0;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width:768px){
  header {
    position: relative;
  }

  header nav{
    position: absolute;
    width:70%;
    background: white;
    right:0;
    top:75px;
    display: none;
  }

  header nav a{
    /* גורם לכל לינק להיות בשורה משלו */
    display: block;
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid black;
  }
}