.center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  body{
    font-family: 'Roboto', sans-serif;

  }

  header{
    padding: 16px;
    background: linear-gradient(45deg, rgb(39, 43, 38) 0%, rgba(45, 69, 73, 0.96) 10%, rgba(163, 173, 228, 0.486) 71%, rgba(39, 43, 38) 100%);
  }  
  /* .header1{
    max-width: 1000px;
  } */
 /*start search */

  header .search_line .search_value{
    background: transparent;
    border: none; 
    outline: none;
  }
  .search_line .search_value .search_icon{
    margin:0px -27px;
  }
 /*end search */

 #id_nav_burger {
   display: none;
 }

 .nav_{
  text-align: center;

 }
/* נשאר לך למחוק מהנאב את השמות ולשנות בכל הפרויקט את האהד */
 nav .nav1{
 border: 1px solid rgb(255, 255, 255);
 color: #030303;
    background: rgb(255, 255, 255);
 }
 nav .nav1:hover{
 border: 1px solid rgb(255, 255, 255);
 color: #ffffff;
background: rgb(8, 8, 8);

 }
  

  nav a{
    display: block;
    border-radius: 17px;
    font-size: 16px;
    padding: 8px 0;
    margin-left: 4px;
    width: 100%;
    margin-top: 16px;
   }
  nav a .icons{
    font-size: 18px; 
    padding: 8px;
  }
  
 nav a::before{
    content: "";
    display:block;
    width: 0;
    height: 1px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    transition: 2000ms;
  }
 nav a:hover::before{
    content: "";
    display:block;
    width: 100%;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: 2000ms;
  }
 nav a::after{
    content: "";
    display:block;
    width: 0;
    height: 1px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    transition: 2000ms;
  }
 nav a:hover::after{
    content: "";
    display:block;
    width: 100%;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: 2000ms;
  }
  nav a .icon:hover{
    transform: rotate(360deg);
  }





  
  
  footer{
    background: linear-gradient(45deg, rgb(39, 43, 38) 0%, rgba(45, 69, 73, 0.96) 10%, rgba(163, 173, 228, 0.486) 71%, rgba(39, 43, 38) 100%);
    min-height: 100px;
    padding: 1em;
  
  }
  footer .icons{
    font-size: 30px;
  }

  footer strong{
    font-family: 'pattaya';
    font-size: 2em;

  }

  

  .logo{
    width: 200px;
    height: 100px;
  }

    @media screen and (max-width:768px){
 
      .logo{
        width: 100px;
        height: 50px;
      }
      header .search_line .search_value{
        display: none;
      }
      
      .container nav a {
        border: none;
      }
      
      nav a .icons{
        font-size: 0px; 
        padding: 0px;
      }
      nav a {
        border: none;
      }
      
    
    }
